<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>All POST QUORA</h2>  
    <br>
    <a href="http://localhost:4000/posts/newposts">Create New Post</a>
    <% for(post of posts) { %>
        <div class="posts">
            <p><%= post.id %></p>
            <h3><%= post.username %></h3>
            <p><%= post.content %></p>
            <a  href="http://localhost:4000/posts/<%= post.id %>">See Detail</a> 
            <a href="http://localhost:4000/posts/edit/<%= post.id %>">Edit</a>
            <form action="/posts/delete " method="post">
                <button type="submit">delete</button>
            </form>
        </div>
    <% } %>


</body>
</html>